
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Proyecto Educativo, Proyed">
 
    <title>Proyecto Educativo</title>

    <link rel="canonical" href="http://www.proyectoeducativo.org/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Fontawesome 5 -->
    <script src="https://kit.fontawesome.com/62fb77aec5.js" crossorigin="anonymous"></script>

    <!-- AOS Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Proyed SVG icon -->
    <link href="../../assets/svg-icons/svg-icon.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../assets/css/main.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">
    <!-- Page header -->  
    <header>
      <!-- Fixed navbar -->

      <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top" id="mainLogo">
              <img src="../../assets/img/template/Logo-Proyed-500-x-134.png" class="img-fluid" alt="Proyecto Educativo Logo">
            </a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item mx-0 mx-lg-1 dropdown">                   
                      <a class="nav-link px-0 px-lg-3 rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="fa-stack mx-0" style="vertical-align: top;">
                              <i class="far fa-circle fa-stack-2x"></i>
                              <i class="fas fa-users fa-stack-1x"></i>
                            </span>  
                        Nosotros
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>                
                <li class="nav-item mx-0 mx-lg-1">

                  <a class="nav-link px-0 px-lg-3 rounded" href="#">
                      <span class="fa-stack mx-0 circle" style="vertical-align: top;">
                          <i class="far fa-circle fa-stack-2x"></i>
                          <i class="fas fa-magic fa-stack-1x"></i>
                        </span>
                    Servicios
                  </a>

                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link rounded" href="#">
                
                        <span class="fa-stack" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-flag fa-stack-1x"></i>
                            <i class="fas fa-circle fa-stack-2x holder"></i>
                          </span>     
                      Proyectosmas
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link px-0 px-lg-3 rounded" href="#">
                        <span class="fa-stack mx-0" style="vertical-align: top;">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <i class="fas fa-paper-plane fa-stack-1x"></i>
                          </span>  
                      Contacto
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <!-- END Fixed navbar -->
    </header>
    <!-- END Page header --> 
    <!-- Main page content -->
    <main role="main" class="flex-shrink-0">
    <!-- Main Slider -->
      <div id="carouselhome" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselhome" data-slide-to="0" class="active"></li>
          <li data-target="#carouselhome" data-slide-to="1"></li>
          <li data-target="#carouselhome" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block h-100 w-100 img-fluid" src="../../assets/img/home/slider/slider-1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block" >
              <h2 class="font-weight-bold">Some title for Slide 1</h2>
              <h4>Some additional text for slide 1</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="../../assets/img/home/slider/slider-2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="font-weight-bold">Some title for Slide 2</h2>
              <h4>Some additional text for slide 2</h4>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 img-fluid" src="../../assets/img/home/slider/slider-3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="font-weight-bold">Some title for Slide 3</h2>
              <h4>Some additional text for slide 3</h4>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev mt-5" href="#carouselhome" role="button" data-slide="prev">
          <span class=" fa-stack-2x"><i class="fas fa-arrow-left fa-pull-left fa-border ml-3"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next mt-5" href="#carouselhome" role="button" data-slide="next">
          <span class=" fa-stack-2x"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <!-- END Main Slider -->
    



      <!-- Some About -->

  <section class="page-section text-white mb-0" id="about">
      <div class="container" data-aos="zoom-in" data-aos-duration="1000">
  
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white line-behind"><span>Somos</span></h2>
   
        <!-- About Section Content -->
        <div class="row mt-5">
          <div class="col-lg-4 ml-auto">
            <p class="lead text-justify">Una institución especializada en elevar la calidad y la equidad de la educación mediante la asesoría, el diseño y el acompañamiento de acciones innovadoras en la educación básica y media superior.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead text-justify">Contribuimos a que el sistema educativo ofrezca un mejor servicio educativo, eleve su percepción entre la población y se ubique como referente nacional.</p>
          </div>
        </div>
  
        <!-- About Section Button -->
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
            <i class="fas fa-plus-square"></i>
            Leer más
          </a>
        </div>
  
      </div>
    </section>      
      <!-- END Some About -->

      <!-- We do... Boxes -->
 
      <section id="services">
          <div class="container">
            <div class="row">

              <div class="col-lg-12 text-center" data-aos="zoom-in">
                <h2 class="section-heading text-uppercase line-behind"><span>Que hacemos</span></h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
              </div>
            </div>
            <div class="row justify-content-center text-center mt-5">
              <div class="col-md-3 box" data-aos="flip-right" data-aos-delay="0" data-aos-duration="1000">
                <span class="fa-stack fa-4x icon">
                  <i class="fas fa-circle fa-stack-2x text-info"></i>
                  <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-info">Diagnósticos</h4>
                <p class="text-muted px-4">Creemos en que las mejores decisiones se sustentan en el conocimiento amplio de la realidad.</p>
                <a class="btn btn-info" href="#" role="button">Leer mas</a>
              </div>
              <div class="col-md-3 box" data-aos="flip-right" data-aos-delay="200" data-aos-duration="1000">
                <span class="fa-stack fa-4x icon">
                  <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                  <i class="far fa-thumbs-up fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-secondary">Viabilidad</h4>
                <p class="text-muted px-4">Las soluciones que proponemos consideran en todo momento su viabilidad en el sentido más amplio.</p>
                <a class="btn btn-secondary" href="#" role="button">Leer mas</a>
              </div>
              <div class="col-md-3 box" data-aos="flip-right" data-aos-delay="300" data-aos-duration="1000">
                <span class="fa-stack fa-4x icon">
                  <i class="fas fa-circle fa-stack-2x text-warning"></i>
                  <i class="fas fa-rocket fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading text-warning">Implementación</h4>
                <p class="text-muted px-4">El centro de las acciones tiene que ser siempre el mejoramiento de la calidad y equidad del aprendizaje.</p>
                <a class="btn btn-warning text-white" href="#" role="button">Leer mas</a>
              </div>
            </div>
          </div>
        </section>
          <!-- END We do... Boxes -->


      <!-- Main Features -->
      <section class="showcase">
          <div class="container-fluid p-0">
              <div class="row no-gutters">
                
                  <div class="col-lg-6 text-white showcase-parent">
                      <div class="showcase-child img-1"></div>
                  </div>
                 
                  <div class="col-lg-6 my-auto showcase-text" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                    <h4 class="text-white font-weight-bold mb-3">¿Por qué trabajamos en la educación?</h4>
                   
                    <ol class="fa-ul text-justify">
                      <li class="mb-2"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Porque creemos que una buena formación puede hacer que las personas vivan una vida más plena y feliz</span></li>
                      <li class="mb-2"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Porque pensamos que México y los países de América Latina tienen un enorme potencial que aún está lejos de ser plenamente aprovechado</span></li>
                      <li class="mb-2"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Porque sabemos que en nuestras escuelas contamos con una enorme cantidad de maestras y maestros con la vocación y el talento para lograr lo que nos propongamos</span></li>
                      <li class="mb-2"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Porque en la educación convergen nuestra misión, nuestra vocación, nuestra profesión, nuestra ocupación y nuestra pasión. Y siempre aspiramos a que se note</span></li>
                    </ol>
                    <!-- <div class="text-center mt-4">
                      <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
                        <i class="fas fa-download mr-2"></i>
                        Leer más
                      </a>
                    </div> -->
                  </div>
                </div>            
            <div class="row no-gutters">

                <div class="col-lg-6 order-lg-2 text-white showcase-parent">
                    <div class="showcase-child img-2"></div>
                </div>              
              
              <div class="col-lg-6 order-lg-1 my-auto showcase-text text-right" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                <h4 class="text-white font-weight-bold mb-3">Campos con mayor trayectoria</h4>
                <ol class="fa-ul text-justify">
                  <li class="mb-3"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Política educativa y Modelo Asistencia, Permanencia, Aprendizaje (APA).</span></li>
                  <li class="mb-3"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Asistencia y permanencia escolares.</span></li>
                  <li class="mb-3"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Formación docente.</span></li>
                  <li class="mb-3"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Gestión escolar y liderazgo educativo.</span></li>
                  <li class="mb-3"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Sistemas de información para la gestión educativa.</span></li>
                  <li class="mb-3"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Descarga administrativa.</span></li>
                  <li class="mb-3"><span class="fa-li fa-lg my-2"><i class="fas fa-arrow-right fa-pull-right fa-border mr-3"></i></span><span class="text-white">Evaluación del aprendizaje.</span></li>
                </ol>               
                    <!-- <div class="text-center mt-4">
                      <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
                        <i class="fas fa-download mr-2"></i>
                        Leer más
                      </a>
                    </div> -->
              </div>
            </div>

          </div>
        </section>      
      <!-- END Main Features -->

      <!-- News -->
      <section class="page-section mb-0" id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" data-aos="zoom-in">
                  <h2 class="section-heading text-uppercase line-behind"><span>Noticias</span></h2>
                  <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
              </div>          
        <div class="row mt-5">
          <div class="col">
              <div class="card">
                  <img src="../../assets/img/home/news/news-4.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>          
          </div>
          <div class="col">
              <div class="card">
                  <img src="../../assets/img/home/news/news-1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>          
          </div>
          <div class="col">
              <div class="card">
                  <img src="../../assets/img/home/news/calendario2019.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>          
          </div>                    

        </div>
      </div>
      </section>
      <!-- END News -->

    </main>
    <!-- END Main page content -->
    <!-- Footer content -->
    <footer class="footer mt-auto">
      <div class="row mx-0 mb-neg30">
        <div class="col">
        <div class="container float-footer">
          <div class="row text-center">
            <div class="col">
                <blockquote class="blockquote">Educación con calidad para todos</blockquote>
              </div>
          </div>

          </div> 
        </div>
      </div>   
      <div class="row bg-primary mx-0 py-5 mid-footer">
        <div class="col">
            <div class="container">
              <div class="row justify-content-md-center align-items-center pt-4 pb-2">
                <div class="col col-lg-4 align-self-start">
                  <h5 class="text-muted font-weight-bold">Contacto</h5>
                  <ul class="fa-ul text-white">
                    <li><span class="fa-li fc-1"><i class="far fa-building"></i></span>Torre Natyvo #1234</li>
                    <li><span class="fa-li fc-1"><i class="fas fa-map-pin"></i></span>Puebla, México.</li>
                    <li><span class="fa-li fc-1"><i class="fas fa-phone-alt"></i></span>+52 222 241 9257</li>
                    <li><span class="fa-li fc-1"><i class="far fa-envelope"></i></span>info@proyectoeducativo.org</li>
                    
                  </ul>
                </div>
                <div class="col-md-auto my-auto">
                  <span class="icon-Iso-Proyed-01 f-icon"></span>
                </div>
                <div class="col col-lg-4 text-right align-self-start">
                  <div class="row text-right">
                    <div class="col">
                      <h5 class="text-muted font-weight-bold mb-3">Síguenos</h5>
                      <span class="fa-stack fa-lg icon">
                        <i class="fas fa-circle fa-stack-2x fc-1"></i>
                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                      </span>
                      <span class="fa-stack fa-lg icon">
                        <i class="fas fa-circle fa-stack-2x fc-1"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                      <span class="fa-stack fa-lg icon">
                        <i class="fas fa-circle fa-stack-2x fc-1"></i>
                        <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                      </span>                                
                    </div>
                  </div> 
                </div>
              </div>
              </div> 
      </div>
    </div>
    <div class="row bg-dark mx-0 my-0 py-3">
        <div class="col">
            <div class="container text-center">
                <span class="text-muted"><i class="fas fa-copyright mr-3"></i> Algunos derechos reservados <i class="fas fa-ellipsis-v mx-3"></i> 2019. </span>
              </div> 
      </div>
    </div>     
    </footer>
    <!-- END Footer content -->
  </body>
<!-- Bootstrap core JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- END Bootstrap core JS -->
    <!-- AOS Animation -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script src="../../assets/js/main.js"></script>

</html>